<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tasty &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords"
        content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="static/css/flexslider.css">
    <!-- Date Time -->
    <link rel="stylesheet" href="static/css/bootstrap-datetimepicker.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="static/css/style.css">

    <!-- My styles -->
    <link rel="stylesheet" href="../css/my.css">

    <!-- Modernizr JS -->
    <script src="static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

    <div class="fh5co-loader"></div>

    <div id="page">
        <nav class="fh5co-nav" role="navigation">
            <!-- <div class="top-menu"> -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center logo-wrap">
                        <div id="fh5co-logo"><a href="/">Mamma Mia<span>.</span></a></div>
                    </div>
                    <div class="col-xs-12 text-center menu-1 menu-wrap">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="menu">Menu</a></li>
                            <li class="has-dropdown">
                                <a href="gallery">Gallery</a>
                                <ul class="dropdown">
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Food</a></li>
                                    <li><a href="#">Coffees</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="order">Order</a>
                                <ul class="dropdown">
                                    <li><a href="/your-order">Your orders</a></li>
                                </ul>
                            </li>

                            <li><a href="about">About</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li class="active"><a href="/login">Log in</a></li>
                            <li><a href="/logout">Log out</a></li>
                            <li><a href="/signup" class="btn">Sign up</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="signup">

                <form>
                    <h2>Log in</h2>
                    <label for="email">Email</label>
                    <input type="text" name="email" required>
                    <div class="email error">HUNHUNHUNHUN</div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                    <div class="password error">HUNHUNHUNHUN</div>
                    <button>Log in</button>
                </form>
            </div>
        </nav>



        <!-- jQuery -->
        <script src="static/js/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="static/js/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="static/js/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="static/js/jquery.waypoints.min.js"></script>
        <!-- Waypoints -->
        <script src="static/js/jquery.stellar.min.js"></script>
        <!-- Flexslider -->
        <script src="static/js/jquery.flexslider-min.js"></script>
        <!-- Main -->
        <script src="static/js/main.js"></script>
        <!--POST-->
        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');


            form.addEventListener('submit', async e => {
                e.preventDefault();
                emailError.textContent = '';
                passwordError.textContent = '';
                const email = form.email.value;
                const password = form.password.value;
                try {
                    const res = await fetch('/login', {
                        method: 'POST',
                        body: JSON.stringify({
                            email,
                            password
                        }),
                        headers: {
                            'Content-type': 'application/json'
                        }
                    })
                    const data = await res.json();

                    if (data.thisUser) {
                        location.assign('/')
                    } else if (data.errors) {
                        emailError.textContent = data.errors.email
                        passwordError.textContent = data.errors.password
                    }
                } catch (err) {
                    console.log(err);
                }
            })
        </script>

</body>

</html>